h1:hover{ 
    color:$color-blanquito;

}
h1{ 
    background-color: $color-negrito;
}

h3:hover {
    transform: translate($size-general, $size-general);
    transition: 0.8s;
    color: $color-principal;
    text-shadow: $shadow-titulo;
}

h4:hover {
    color:$color-principal;
    transform: translate($diezPixeles $diezPixeles);
    transition: 0.8s;
    background-color: $color-patito;
}

.batagglia{
    color:$color-ivo;
    text-decoration: none;

    &:hover {
    text-decoration: $text-decoration-underline;
    color:$color-ivo;  
    }
}

.big-card {
    color: $color-blanquito;
    background:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
    width: 100%;
    margin:0;
    padding: 4px;
}

.diegoArmando {
    font-size: 1em;
    color:$color-negrito;
    font-style: $font-italic;
}
    
.diego-armando {
    display: $display-flex;
    justify-content: space-around;
    flex-direction:$flex-column;
    align-items:$text-align-center;
    margin: $margin-cuatro;
    
}
    
.row {
    padding: $diezPixeles;
}

.card-title {
    text-decoration: $text-decoration-underline;
    color:$color-negrito;
}
    
.gire:hover{ 
    translate: 360px;
}
    
    