
h2:hover {
    color:($color-principal);
    text-shadow: $shadow-titulo;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
    overflow-y: hidden;

}

.grid-item {
    border: 2px solid $color-negrito;
    overflow-y: hidden;
    
}

.grid-item:first-child {
    grid-row-start: span 2;
}

.grid-item:nth-child(3) {
    grid-row-start: span 2;
}

.grid-item:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 3;
}

.grid-item:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 3;
}

.grid-item:nth-child(5) {
    grid-row-start: span 2;
}

.grid-item:nth-child(6) {
    grid-row-start: span 2;
}

.grid-item:nth-child(7) {
    grid-row-start: span 2;
}

.grid-item:nth-child(8) {
    grid-row-start: span 2;
}

.grid-img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.TituloImagenes {
    color: $color-negrito;
    background-color: $bg-color;
    display: $display-flex;
    justify-content: $text-align-center;
    font-style: $font-italic;
    letter-spacing: 3px;
}

.elBody {
    background-color:$color-blanquito;
}

.loguito:hover {
    transition: 2s;
    transform:rotate(-360deg);
}

/*MediaQuerys*/

/* Mobile*/

@media screen and (max-width:480px) {
    .elBody {
        background-color: $color-principal;
    }

    .TituloImagenes {
        color: $color-blanquito;
        background-color: $color-negrito;
        letter-spacing: 1px;
    }

    .grid-container {
        grid-template-columns: repeat(2 ,1fr);
    
    }
    .grid-item:first-child {
        grid-column-start: span 2;
    }
    
    .grid-item:nth-child(3) {
        grid-column-start: span 2;
    }
    
    .grid-item:nth-child(4) {
        grid-column-start: span 2;
    }
    
    .grid-item:nth-child(5) {
        grid-column-start: span 2;
    }
    
    .grid-item:nth-child(6) {
        grid-column-start: span 2;
    }
    
    .grid-item:nth-child(7) {
        grid-column-start: span 2;
    }
    
    .grid-item:nth-child(8) {
        grid-column-start: span 2;
    }

}

/* Tablet*/

@media screen and (min-width:481px) and (max-width:960px) {
    .elBody {
        background-color: $color-negrito;
    }
    .TituloImagenes {
        color: lighten($color-principal, 20%);
        background-color: $color-blanquito;
        letter-spacing: 2px;
    }

    .grid-container {
        grid-template-columns: repeat(2 ,1fr);
    
    }
    .grid-item:first-child {
        grid-column-start: span 2;
    }
    
    .grid-item:nth-child(3) {
        grid-column-start: span 2;
    }
    
    .grid-item:nth-child(4) {
        grid-column-start: span 2;
    }
}

/* Desktop*/

@media screen and (min-width:961px) {
    .elBody  {
        background-color:$color-blanquito;
    }

    .TituloImagenes {
        color:$color-negrito;
    }
}
