
* {
    margin: 0;
    padding:0;
    overflow-x:hidden;
}

html {
    scroll-behavior: smooth
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@0,200;0,300;1,200;1,300&family=Poppins&display=swap');


body {
    background-color:$color-blanquito;
}

